<%
function getProperName(state) {
    var stateName;
    switch(state) {
        case 'Payment Pending': stateName = 'PENDIENTE DE PAGO';
                                break;
        case 'Payed': stateName = 'PAGADA';
                      break;
        case 'Cancelled' : stateName = 'CANCELADA';
                           break;
    }
    return stateName;
}

function getProperClass(state) {
    var className;
    switch(state) {
        case 'Payment Pending': className = 'info';
                                break;
        case 'Payed': className = 'success';
                      break;
        case 'Cancelled' : className = 'danger';
                           break;
    }
    return className;
}
%>


<div class="container">
    <div class="col-md-6" id="alert">
        
    </div>
</div>

<div class="row">

<h2>Informacion de la reserva</h2>
<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <td>Codigo de vuelo:</td>
            <td id="myCode"><%=reservation.code%></td>
        </tr>
        <tr>
            <td># de Asientos:</td>
            <td><%=reservation.quantity%></td>
        </tr>
        <tr>
            <td>Codigo de vuelo:</td>
            <td><%=reservation.flightCode%></td>
        </tr>
        <tr>
            <td>Reserva realidaza:</td>
            <td><%=reservation.creationDate.toLocaleDateString()%></td>
        </tr>
        <tr>
            <td>Total a pagar:</td>
            <td>$<%=reservation.price%></td>
        </tr>
        <tr>
            <td>Estado de la Reserva:</td>
            <td id="state" class="<%=getProperClass(reservation.state)%>"><%=getProperName(reservation.state)%></td>
        </tr>
    </tbody>
</table>
</div>

<div class="row">
        <div class="col-md-12">
            <h2>Pasajeros de la reserva</h2>
            <table class="table table-striped table-hover" id="passenger">
                <thead>
                <tr>
                    <th>Primer Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Pasaporte</th>
                    <th>Edad</th>
                    <th>Discapacidad</th>
                </tr>
                </thead>
                <tbody>

                <% _.each(reservation.owners, function(owner) { %>
                <tr>
                    <td><%=owner.firstName%></td>
                    <td><%=owner.lastName%></td>
                    <td><%=owner.passportId%></td>
                    <td><%=owner.age%></td>
                    <td><%=owner.handicap%></td>
                </tr>
                <% }) %>

                </tbody>
            </table>
        </div>
    </div>
    
    
    <div class="container-fluid">
        <br>
        <br>
      <div class="row">
            <div class="col-md-5 text-right">
        		<button type="button" class="btn btn-info custom-button-width .navbar-right" id="btnPay">Pagar Reserva</button>
        	</div>
        	<div class="col-md-5 text-right">
    			<button type="button" class="btn btn-danger custom-button-width .navbar-right" id="btnCancel">Cancelar Reserva</button>
        	</div>
      </div>
      
      <br>
      <br>
      <br>
</div>

<script>
    
    $(document).ready(function(){
       
       $('#btnPay').click(function() {
            var code = $('#myCode').text(); 
            $.ajax({
                type: "PUT",
                url: "https://software2-sherylu.c9users.io/reservation/"+code,
                contentType: "application/json",
                data: JSON.stringify({"state": "Payed"})
            }).done(function() {
                $('#state').removeClass();
                 $('#state').addClass('<%=getProperClass('Payed')%>');
                $('#state').html('<%=getProperName('Payed')%>');
                $('#alert').html($('.payed').clone());
            });
            
            
       });
       
       $('#btnCancel').click(function() {
            var code = $('#myCode').text(); 
            $.ajax({
                type: "PUT",
                url: "https://software2-sherylu.c9users.io/reservation/"+code,
                contentType: "application/json",
                data: JSON.stringify({"state": "Cancelled"})
            }).done(function() {
                $('#state').removeClass();
                $('#state').addClass('<%=getProperClass('Cancelled')%>');
                $('#state').html('<%=getProperName('Cancelled')%>');
                $('#alert').html($('.cancelled').clone());
            });
       });
       
       
       
       
    });
</script>
