<%- include ../partials/banner.ejs %>

<% var toMyDate = function(d) {
     return d.toLocaleDateString() + ' - ' + d.toLocaleTimeString(); 
   }
%>


<div class="container">
    
    <div class="row">
        <div class="col-md-8">
            <%- include ../partials/error.ejs %>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h2>Vuelos de Ida</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Fecha y Hora de Salida</th>
                        <th>Fecha y Hora de LLegada</th>
                        <th>Lugar de Salida</th>
                        <th>Lugar de Llegada</th>
                        <th>Asientos Disponibles</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% _.each(departures, function(departure) { %>
                        <tr>
                            <td><%=departure.flightCode%></td>
                            <td><%=toMyDate(departure.departureDate)%></td>
                            <td><%=toMyDate(departure.arrivalDate)%></td>
                            <td><%=departure.departureAirport.code%></td>
                            <td><%=departure.arrivalAirport.code%></td>
                            <td><%=departure.seats.length%></td>
                        </tr>
                    <% }) %>
                    
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <h2>Vuelos de Regreso</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Fecha y Hora de Salida</th>
                        <th>Fecha y Hora de LLegada</th>
                        <th>Lugar de Salida</th>
                        <th>Lugar de Llegada</th>
                        <th>Asientos Disponibles</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% _.each(arrivals, function(departure) { %>
                        <tr>
                            <td><%=departure.flightCode%></td>
                            <td><%=toMyDate(departure.departureDate)%></td>
                            <td><%=toMyDate(departure.arrivalDate)%></td>
                            <td><%=departure.departureAirport.code%></td>
                            <td><%=departure.arrivalAirport.code%></td>
                            <td><%=departure.seats.length%></td>
                        </tr>
                    <% }) %>
                    
                </tbody>
            </table>
            
            
        </div>
    </div>
</div>