<%- include ../partials/banner.ejs %>

<% var toMyDate = function(d) {
     return d.toLocaleDateString() + ' - ' + d.toLocaleTimeString(); 
   }
%>

<style>
    .selected-row {
        color: #fff !important;
        background-color: #d34615 !important;
    }
</style>


<div class="container">
    
    <div class="row">
        <div class="col-md-8">
            <%- include ../partials/error.ejs %>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h2>Vuelos de Ida</h2>
            <table class="table table-striped" id="leaving">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Fecha y Hora de Salida</th>
                        <th>Fecha y Hora de LLegada</th>
                        <th>Lugar de Salida</th>
                        <th>Lugar de Llegada</th>
                        <th>Asientos Disponibles</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% _.each(departures, function(departure) { %>
                        <tr>
                            <td><%=departure.flightCode%></td>
                            <td><%=toMyDate(departure.departureDate)%></td>
                            <td><%=toMyDate(departure.arrivalDate)%></td>
                            <td><%=departure.departureAirport.code%></td>
                            <td><%=departure.arrivalAirport.code%></td>
                            <td><%=departure.seats.length%></td>
                        </tr>
                    <% }) %>
                    
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12" >
            
            <h2>Vuelos de Regreso</h2>
            <table class="table table-striped" id="returning">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Fecha y Hora de Salida</th>
                        <th>Fecha y Hora de LLegada</th>
                        <th>Lugar de Salida</th>
                        <th>Lugar de Llegada</th>
                        <th>Asientos Disponibles</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% _.each(arrivals, function(arrival) { %>
                        <tr>
                            <td><%=arrival.flightCode%></td>
                            <td><%=toMyDate(arrival.departureDate)%></td>
                            <td><%=toMyDate(arrival.arrivalDate)%></td>
                            <td><%=arrival.departureAirport.code%></td>
                            <td><%=arrival.arrivalAirport.code%></td>
                            <td><%=arrival.seats.length%></td>
                        </tr>
                    <% }) %>
                    
                </tbody>
            </table>
            
            
        </div>
    </div>
</div>

<script>
    
    $(document).ready(function() {
        $('#leaving > tbody > tr').click(function() {
           $('#leaving >tbody > tr').removeClass('selected-row');
           $(this).addClass('selected-row');
        });
        $('#returning > tbody > tr').click(function() {
           $('#returning > tbody > tr').removeClass('selected-row');
           $(this).addClass('selected-row');
        });
        $('#leaving > tbody > tr.selected-row').click(function() {
            $('#leaving > tbody > tr.selected-row').removeClass('selected-row');
        });
        $('#returning > tbody > tr.selected-row').click(function() {
            $('#returning > tbody > tr.selected-row').removeClass('selected-row');
        });
    });
</script>