<%- include ../partials/banner.ejs %>

<% var toMyDate = function(d) {
    return d.toLocaleDateString() + ' - ' + d.toLocaleTimeString();
}
%>

<style>
    .selected-row {
        color: #060606 !important;
        background-color: #536acc !important;
    }

</style>

<div class="container">

    <div class="row">
        <div class="col-md-8">
            <%- include ../partials/error.ejs %>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <p style="background-color: #5bc0de">Número de Asientos: <b id="seats"><%=numberOfSeats%></b></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Vuelos de Ida</h2>
            <table class="table table-striped" id="leaving">
                <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Fecha y Hora de Salida</th>
                    <th>Fecha y Hora de LLegada</th>
                    <th>Lugar de Salida</th>
                    <th>Lugar de Llegada</th>
                    <th>Asientos Disponibles</th>
                </tr>
                </thead>
                <tbody>

                <% _.each(departures, function(departure) { %>
                <tr>
                    <td><%=departure.flightCode%></td>
                    <td><%=toMyDate(departure.departureDate)%></td>
                    <td><%=toMyDate(departure.arrivalDate)%></td>
                    <td><%=departure.departureAirport.code%></td>
                    <td><%=departure.arrivalAirport.code%></td>
                    <td><%=departure.seats.length%></td>
                </tr>
                <% }) %>

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <h2>Vuelos de Regreso</h2>
            <table class="table table-striped" id="returning">
                <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Fecha y Hora de Salida</th>
                    <th>Fecha y Hora de LLegada</th>
                    <th>Lugar de Salida</th>
                    <th>Lugar de Llegada</th>
                    <th>Asientos Disponibles</th>
                </tr>
                </thead>
                <tbody>

                <% _.each(arrivals, function(arrival) { %>
                <tr>
                    <td><%=arrival.flightCode%></td>
                    <td><%=toMyDate(arrival.departureDate)%></td>
                    <td><%=toMyDate(arrival.arrivalDate)%></td>
                    <td><%=arrival.departureAirport.code%></td>
                    <td><%=arrival.arrivalAirport.code%></td>
                    <td><%=arrival.seats.length%></td>
                </tr>
                <% }) %>

                </tbody>
            </table>

        </div>
    </div>
</div>

<br><br>

<div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
        <button class="btn btn-primary btn-lg btn-block" id="btn-continue">Continuar</button>
    </div>
</div>

<script>

    $(document).ready(function() {

        $('#leaving').find('> tbody > tr').click(function() {
            $('#leaving').find('>tbody > tr').removeClass('selected-row');
            $(this).addClass('selected-row');
        });
        $('#returning').find('> tbody > tr').click(function() {
            $('#returning').find('> tbody > tr').removeClass('selected-row');
            $(this).addClass('selected-row');
        });
        $('#leaving').find('> tbody > tr.selected-row').click(function() {
            $('#leaving').find('> tbody > tr.selected-row').removeClass('selected-row');
        });
        $('#returning').find('> tbody > tr.selected-row').click(function() {
            $('#returning').find('> tbody > tr.selected-row').removeClass('selected-row');
        });





        $("#btn-continue").click(function() {
            var leavingCode = $('#leaving > tbody > tr.selected-row > td:nth-child(1)').text();
            var returningCode = $('#returning> tbody > tr.selected-row > td:nth-child(1)').text();
            var numberOfSeats = $('#seats').text();

            $('body').append($('<form/>')
                    .attr({'action': '/flight/booking', 'method': 'post', 'id': 'replacer'})
                    .append($('<input/>')
                            .attr({'type': 'hidden', 'name': 'selectedRowLeaving', 'value': leavingCode})
                    )
                    .append($('<input/>')
                            .attr({'type': 'hidden', 'name': 'selectedRowReturning', 'value': returningCode})
                    )
                    .append($('<input/>')
                            .attr({'type': 'hidden', 'name': 'numberOfSeats', 'value': numberOfSeats})
                    )
            ).find('#replacer').submit();

        });


    });
</script>
