<%- include ../partials/banner.ejs %>

<% var toMyDate = function(d) {
    return d.toLocaleDateString() + ' - ' + d.toLocaleTimeString();
}
%>

<style>
    .selected-row {
        color: #060606 !important;
        background-color: #536acc !important;
    }

</style>

<div class="container">

    <div class="row">
        <div class="col-md-8">
            <%- include ../partials/error.ejs %>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <div class="alert alert-info" role="alert">
                <table class="table table-hover">
                    <tr>
                        <td># Pasajeros adultos:</td>
                        <td><span id="adultSeats"><%=numberOfSeats[0]%></span> <span class="glyphicon glyphicon-user"></span></td>
                    </tr>
                    <tr>
                        <td># Pasajeros niños:</td>
                        <td><span id="childSeats"><%=numberOfSeats[1]%></span> <span class="glyphicon glyphicon-user"></span></td>
                    </tr>
                    <tr>
                        <td># Pasajeros bebes:</td>
                        <td><span id="todSeats"><%=numberOfSeats[2]%></span> <span class="glyphicon glyphicon-user"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Vuelos de Ida <span class="glyphicon glyphicon-plane"></span></h2>
            <table class="table table-striped table-hover" id="leaving">
                <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Fecha y Hora de Salida</th>
                    <th>Fecha y Hora de LLegada</th>
                    <th>Lugar de Salida</th>
                    <th>Lugar de Llegada</th>
                    <th>Asientos Disponibles</th>
                </tr>
                </thead>
                <tbody>

                <% _.each(departures, function(departure) { %>
                <tr>
                    <td><%=departure.flightCode%></td>
                    <td><%=toMyDate(departure.departureDate)%></td>
                    <td><%=toMyDate(departure.arrivalDate)%></td>
                    <td><%=departure.departureAirport.code%></td>
                    <td><%=departure.arrivalAirport.code%></td>
                    <td><%=departure.seats.length%></td>
                </tr>
                <% }) %>

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <% if (!oneWay) { %>
            <div class="col-md-12">
    
                <h2>Vuelos de Regreso <span class="glyphicon glyphicon-plane"></span></h2>
                <table class="table table-striped table-hover" id="returning">
                    <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Fecha y Hora de Salida</th>
                        <th>Fecha y Hora de LLegada</th>
                        <th>Lugar de Salida</th>
                        <th>Lugar de Llegada</th>
                        <th>Asientos Disponibles</th>
                    </tr>
                    </thead>
                    <tbody>
    
                    <% _.each(arrivals, function(arrival) { %>
                    <tr>
                        <td><%=arrival.flightCode%></td>
                        <td><%=toMyDate(arrival.departureDate)%></td>
                        <td><%=toMyDate(arrival.arrivalDate)%></td>
                        <td><%=arrival.departureAirport.code%></td>
                        <td><%=arrival.arrivalAirport.code%></td>
                        <td><%=arrival.seats.length%></td>
                    </tr>
                    <% }) %>
    
                    </tbody>
                </table>
    
            </div>
        <% } else { %>
            
            <div class="alert alert-warning" role="alert">No se seleccionó la opción de vuelos de regreso</div>
        
        <% } %>
        
    </div>
</div>

<br><br>

<div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
        <button class="btn btn-primary btn-lg btn-block" id="btn-continue">Continuar</button>
    </div>
</div>

<script>

    $(document).ready(function() {

        $('#leaving').find('> tbody > tr').click(function() {
            $('#leaving').find('>tbody > tr').removeClass('selected-row');
            $(this).addClass('selected-row');
        });
        $('#returning').find('> tbody > tr').click(function() {
            $('#returning').find('> tbody > tr').removeClass('selected-row');
            $(this).addClass('selected-row');
        });
        $('#leaving').find('> tbody > tr.selected-row').click(function() {
            $('#leaving').find('> tbody > tr.selected-row').removeClass('selected-row');
        });
        $('#returning').find('> tbody > tr.selected-row').click(function() {
            $('#returning').find('> tbody > tr.selected-row').removeClass('selected-row');
        });





        $("#btn-continue").click(function() {
            var leavingCode = $('#leaving > tbody > tr.selected-row > td:nth-child(1)').text();
            var returningCode = $('#returning> tbody > tr.selected-row > td:nth-child(1)').text();
            var oneWay = <%=oneWay%>;
            var adultSeats = $('#adultSeats').text();
            var childSeats = $('#childSeats').text();
            var todSeats = $('#todSeats').text();
            

            $('body').append($('<form/>')
                    .attr({'action': '/flight/booking', 'method': 'post', 'id': 'replacer'})
                    .append($('<input/>')
                            .attr({'type': 'hidden', 'name': 'selectedRowLeaving', 'value': leavingCode})
                    )
                    .append($('<input/>')
                            .attr({'type': 'hidden', 'name': 'selectedRowReturning', 'value': returningCode})
                    )
                    .append($('<input/>')
                            .attr({'type': 'hidden', 'name': 'adultSeats', 'value': adultSeats})
                    )
                    .append($('<input/>')
                            .attr({'type': 'hidden', 'name': 'childSeats', 'value': childSeats})
                    )
                    .append($('<input/>')
                            .attr({'type': 'hidden', 'name': 'todSeats', 'value': todSeats})
                    )
                    .append($('<input/>')
                            .attr({'type': 'hidden', 'name': 'oneWay', 'value': oneWay})
                    )
            ).find('#replacer').submit();

        });


    });
</script>
